<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<link href="css/sweetalert.css" rel="stylesheet">
<link href="css/application.css" rel="stylesheet">
<style type="text/css">
   .addresslists ul,li{
        list-style: none;;
    }
    .slide-box{
        margin-top:200px;
        display: -webkit-box;
        overflow-x: auto;
        /*适应苹果*/
        -webkit-overflow-scrolling:touch;
    }
    .slide-item{
        width: 300px;
        height: 300px;
        border:1px solid #ccc;
        margin-right: 30px;
        background: pink;
    }
    /*隐藏掉滚动条*/
    .slide-box::-webkit-scrollbar {
        display: none;
    }
</style>
<title>地址列表</title>
</head>
<body>
<header>
	<div class="headerbar">
		<h1>常用地址</h1>
		<a class="navbar-toggle"  onclick="javascript:history.go(-1)">
			<span class="icon-m_goback"></span>
		</a>
	</div>
</header>
<div class="addresslists">
</div>
<footer>
	<div class="footheight"></div>
	<div class="footbar" style="padding:0;">
		<a class="btn btn-block"  href="/frontEndOrderAddress?sysId=null" >+  添加收货地址</a>
	</div>
</footer>

<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/swipeSlide.min.js" type="text/javascript"></script>
<script src="js/sweetalert.min.js" type="text/javascript"></script>
<script src="js/jquery.mmenu.min.js" type="text/javascript"></script>
<script src="js/icheck.min.js" type="text/javascript"></script>
<script src="js/jquery.touchSwipe.min.js"  type="text/javascript" ></script>
<script src="js/cityinit.js" type="text/javascript"></script>
<script src="js/application.js" type="text/javascript"></script>
<script>
$(function(){
	showAddress();
})
function showAddress(){
	$.ajax({
		type:"post",
		url:"/frontEnd/frontEndGetMsOrderAddressList?opendId="+localStorage.getItem("opendId"),
		contentType:'application/json',
		data:JSON.stringify({sysId:null}),
		success:function(res){
			$(".addresslists").html("")
			if(res.status == "01"){
				if(res.rows.length > 0){
					var adid = null;
					for(var i=0;i<res.rows.length;i++){
						$(".addresslists").append(
							'<div id="'+res.rows[i].sysId+'" onclick="showEdit(\''+res.rows[i].sysId+'\')">'+
							'<ul style="transform: translateX(0px);">'+
							'<li><label>姓名：</label>'+res.rows[i].name+'</li>'+
							'<li>'+
							'<label>手机：</label>'+res.rows[i].mobile+
							'<label class="postcode">邮编：</label>'+res.rows[i].postCode+
							'</li>'+
							'<li><label>地址：</label>'+res.rows[i].address+'</li>'+
							'</ul>'+
							'<div id="'+res.rows[i].sysId+'1" class="hidebtn-group" style="height: 102px;">'+
							'<a class="btn-edit"  onclick="editAddress(\''+res.rows[i].sysId+'\')"><i>编辑</i></a>'+
							'<a class="btn-del" onclick="delAddress(\''+res.rows[i].sysId+'\')"><i>删除</i></a>'+
							'</div>'+
							'</div>'	
						)
						if(res.rows[i].isUse == "1"){
							adid = res.rows[i].sysId;
						}
						addActive(adid)
					}
				}else{
					$(".addresslists").html("<section class='waitingwrapper'><div class='text-center purple' style='font-size:5rem'><span class='icon-order'></span></div><p class='text-center' >暂无地址信息</p></section>")
				}
			}
		}
	})
}
function addActive(id){
	$("#"+id+" ul").addClass("active")
}
function showEdit(id){
	var idul = $("#"+id+" ul");
	var div = $("#"+id+"1");
	if(idul.css("transform") == "matrix(1, 0, 0, 1, -128, 0)"){
		idul.css("transform","translateX(0px)")
		div.css("transform","translateX(0px)");
	}else{
		idul.css("transform","translateX(-128px)")
		div.css("transform","translateX(-128px)");
	}
}
function editAddress(id){
	window.location.href="/frontEndOrderAddress?sysId="+id
}
function delAddress(id){
	$.ajax({
		type:"post",
		url:"/frontEnd/frontEndDeleteMsOrderAddress",
		contentType:'application/json',
		data:JSON.stringify({sysId:id}),
		success:function(res){
			if(res.status == "01"){
				showAddress();
			}
		}
	})
}
</script>
</body>
</html>
