<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<link href="css/sweetalert.css" rel="stylesheet">
<link href="css/application.css" rel="stylesheet">
<title>客服中心</title>
</head>
<body>
<header>
	<div class="headerbar">
		<h1>客服中心</h1>
		<a class="navbar-toggle"  onclick="javascript:history.go(-1)">
			<span class="icon-m_goback"></span>
		</a>
	</div>
</header>

<div class="medialist">
	<!-- <div class="media">
       	<a class="csimg thumbnail text-center">
			<img src="img/employ.png">
			<span class="block"></span>
		</a>
        <div class="media-body pbodytext">
			<p>Meet-Sun</p>
			<p>13311111111</p>
			<p>周一至周日 09:00-22:00</p>
        </div>
		<a href="tel:13311111111" class="phonebtn"><span class="icon-phone"></span></a>
	</div> -->
</div>
<footer>
	<div class="footheight"></div>
	<div class="row footbar">
		<a class="col-3 text-center" href="/frontEndIndex" ><span class="icon-home"></span>首页</a>
		<a class="col-3 text-center" href="/frontEndMsVideo" ><span class="icon-signature2"></span>视频专区</a>
		<a class="col-3 text-center" href="/frontEndCart" ><span class="icon-cart2"></span>购物车</a>
		<a class="col-3 text-center active" href="/frontEndMyIndex" ><span class="icon-user2"></span>我的</a>
	</div>
</footer>

<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/swipeSlide.min.js" type="text/javascript"></script>
<script src="js/sweetalert.min.js" type="text/javascript"></script>
<script src="js/jquery.mmenu.min.js" type="text/javascript"></script>
<script src="js/icheck.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script src="js/application.js" type="text/javascript"></script>
</body>
<script type="text/javascript">
$.ajax({
	type:"post",
	url:"/frontEnd/frontEndGetMsUserList",
	contentType:'application/json',
	data:JSON.stringify({"isCustomer":"1"}),
	success:function(res){
		if(res.status=="01"){
			if(res.rows.length > 0){
				for(var i=0;i<res.rows.length;i++){
					$(".medialist").append(
						'<div class="media">'+
					    '<a class="csimg thumbnail text-center">'+
						'<img src="img/employ.png">'+
						'<span class="block"></span>'+
						'</a>'+
					    '<div class="media-body pbodytext">'+
					    '<p>Meet-Sun</p>'+
						'<p>'+res.rows[i].mobile+'</p>'+
						'<p>周一至周日 09:00-22:00</p>'+
					    '</div>'+
						'<a href="tel:'+res.rows[i].mobile+'" class="phonebtn"><span class="icon-phone"></span></a>'+
						'</div>'
					)
				}
			}else{
				$(".medialist").html("<section class='waitingwrapper'><div class='text-center purple' style='font-size:5rem'><span class='icon-order'></span></div><p class='text-center' >暂无客服信息</p></section>")
			}
		}else{
			alert(res.message)
		}
	}
})
</script>
</html>
