<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<link href="css/sweetalert.css" rel="stylesheet">
<link href="css/application.css" rel="stylesheet">
<title>客户详情</title>
</head>
<body>
	<header>
		<div class="headerbar">
			<h1>客户详情</h1>
			<a class="navbar-toggle" onclick="history.go(-1)">
				<span class="icon-m_goback"></span>
			</a>
		</div>
	</header>

	<div class=" cart">
		<div class="shelves">
			<div class="media clearfix">
				<div class="text-center">
					<img src="img/headimg.png" class="roundpic w7rem" />
				</div>
			</div>
			<div>
				<p>用户名称：XFD09099</p>
			</div>
			<div>
				<p>联系电话：13309090909</p>
			</div>
			<div>
				<p>联系地址：北京市东城区叶色淡909</p>
			</div>
			<div>
				<p>最近购买：七天内</p>
			</div>
			<div class="clearfix text-center">
				<a class="btn btn-white btn-small"  onclick="history.go(-1)">返回</a>
			</div>
		</div>
	</div>


<footer>
	<div class="footheight"></div>
	<div class="row footbar">
		<a class="col-4 text-center" href="index.html" ><span class="icon-home"></span>首页</a>
		<a class="col-4 text-center" href="cart.html" ><span class="icon-cart2"></span>购物车</a>
		<a class="col-4 text-center active" href="profile.html" ><span class="icon-user2"></span>我的必要</a>
	</div>
</footer>

<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/swipeSlide.min.js" type="text/javascript"></script>
<script src="js/sweetalert.min.js" type="text/javascript"></script>
<script src="js/jquery.mmenu.min.js" type="text/javascript"></script>
<script src="js/icheck.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script src="js/application.js" type="text/javascript"></script>
</body>
</html>
