<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<link href="css/sweetalert.css" rel="stylesheet">
<link href="css/application.css" rel="stylesheet">
<title>资产记录</title>
</head>
<body>
	<header>
		<div class="headerbar">
			<h1>资产记录</h1>
			<a class="navbar-toggle" onclick="history.go(-1)">
				<span class="icon-m_goback"></span>
			</a>
		</div>
	</header>

	<form class="form-phone">
	<section class="wrapper cart">
		<div class="shelves">
			<div class="c-list">
				<p>提现 <span class="c-time">2016-12-12</span></p>
				<p><span class="c-left">余额：2700.00</span> <span class="c-bold">-500.00</span></p>
			</div>
			<div class="c-list">
				<p>奖励 <span class="c-time">2016-12-11</span></p>
				<p><span class="c-left">余额：3200.00</span> <span class="c-bold">+200.00</span></p>
			</div>
			<div class="c-list">
				<p>运费扣除 <span class="c-time">2016-12-09</span></p>
				<p><span class="c-left">余额：3000.00</span> <span class="c-bold">-500.00</span></p>
			</div>
			<div class="c-list">
				<p>运费扣除 <span class="c-time">2016-11-12</span></p>
				<p><span class="c-left">余额：3500.00</span> <span class="c-bold">-500.00</span></p>
			</div>
			<div class="c-list">
				<p>提现 <span class="c-time">2016-09-12</span></p>
				<p><span class="c-left">余额：4000.00</span> <span class="c-bold">-500.00</span></p>
			</div>
			<div class="c-list">
				<p>奖励 <span class="c-time">2014-12-12</span></p>
				<p><span class="c-left">余额：4500.00</span> <span class="c-bold">+500.00</span></p>
			</div>
		</div>
	</section>
	</form>

<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/swipeSlide.min.js" type="text/javascript"></script>
<script src="js/sweetalert.min.js" type="text/javascript"></script>
<script src="js/jquery.mmenu.min.js" type="text/javascript"></script>
<script src="js/icheck.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script src="js/application.js" type="text/javascript"></script>

</body>
</html>
