<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<link href="css/sweetalert.css" rel="stylesheet">
<link href="css/application.css" rel="stylesheet">
<title>商家钱包</title>
</head>
<body>
	<header>
		<div class="headerbar">
			<h1>我的钱包</h1>
			<a class="navbar-toggle" onclick="history.go(-1)">
				<span class="icon-m_goback"></span>
			</a>
		</div>
	</header>
<section class="profile clearfix">
	<div class="headimg">
		<img src="http://fakeimg.pl/120x120/ccc/fff/?text=LOGO" class="roundpic">
	</div>
	<p>我的用户名</p>
	<div class="row rmenu-3 mywallet">
		<div class="col-4"><a>余额<br /><span class="orange">￥1200</span></a></div>
		<div class="col-4"><a>可提现<br /><span class="orange">￥1200</span></a></div>
		<div class="col-4"><a>已提现<br /><span class="orange">￥1200</span></a></div>
	</div>
</section>

<section class="wrapper cart">
	<div class="shelves">
		<p class="tipssmall"> &nbsp;</p>
		<div>
			<a class="iconmenu" href="add-cashway.html"><i class="icon-produce" ></i>提现方式</a>
		</div>
		<div>
			<a class="iconmenu" href="cashoutlist.html"><i class="icon-suggestion" ></i>已提现列表
			</a>
		</div>
		<div>
			<a class="iconmenu" href="fina-list.html"><i class="icon-wallet" ></i>资产记录
			</a>
		</div>
		<p class="tipssmall"> &nbsp;</p>
		<div>
			<a class="btn btn-block" href="Ineedcash.html">我要提现</a>
		</div>
	</div>
</section>

<footer>
	<div class="footheight"></div>
	<div class="row footbar">
		<a class="col-4 text-center" href="index.html" ><span class="icon-home"></span>首页</a>
		<a class="col-4 text-center" href="cart.html" ><span class="icon-cart2"></span>购物车</a>
		<a class="col-4 text-center active" href="profile.html" ><span class="icon-user2"></span>我的必要</a>
	</div>
</footer>

<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/swipeSlide.min.js" type="text/javascript"></script>
<script src="js/sweetalert.min.js" type="text/javascript"></script>
<script src="js/jquery.mmenu.min.js" type="text/javascript"></script>
<script src="js/icheck.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script src="js/application.js" type="text/javascript"></script>
</body>
</html>
