<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<link href="css/sweetalert.css" rel="stylesheet">
<link href="css/application.css" rel="stylesheet">
<title>个人中心</title>
<style type="text/css">
.file {
    position: relative;
    display: inline-block;
    background: #ccc;
    border: 1px solid #333;
    padding: 4px 20px;
    overflow: hidden;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;
    border-radius: 20px;
    color: #333;
    font-size: 13px;
}
.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.gradient{
    filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fff,endcolorstr=#ccc,gradientType=0);
    -ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#fff,endcolorstr=#ccc,gradientType=0);/*IE8*/    
    background:#ccc; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #fff, #ccc);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#ccc));  
    background:-o-linear-gradient(top, #fff, #ccc); 
}
</style>
</head>
<body>
<header>
	<div class="headerbar">
		<h1>个人中心</h1>
		<!-- <a class="navbar-toggle" href="profile-business.html">
			<span class="icon-more_m pull-left"></span> &nbsp;商家模式
		</a> -->
	</div>
</header>
<section class="profile">
	<input type="hidden" id="sysId">
  	<div class="headimg"  id="preview"style="width:96px;height:185px">
		<img src="img/tx.jpg" class="roundpic" id="showImg" style="width:100%;height:60%">
		<p></p>
		<a href="javascript:;" class="file gradient">更改头像 
			<input type="file" name="imageUpload" accept="image/*"/>
		</a>
	</div>
	<p></p>
	<div class="row rmenu-3">
		<div class="col-2" ><a href="/frontEndMySign"><span class=icon-loading></span>签到</a></div>
		<div class="col-2" ><a href="/frontEndMyOrderPay"><span class="icon-wallet"></span>待付款</a></div>
		<div class="col-2" ><a href="/frontEndMyOrDelivery"><span class="icon-transport"></span>待收货</a></div>
		<div class="col-2" ><a href="/frontEndMyOrIsUse"><span class="icon-refund"></span>待使用</a></div>
		<div class="col-2" ><a href="/frontEndMyOrPl"><span class="icon-order"></span>待评论</a></div>
		<!-- <div class="col-2" ><a href="/frontEndMyOrEmpty"><span class="icon-refund"></span>退款/售后</a></div> -->
	</div>
</section>
<section class="wrapper cart">
	<div class="shelves">
		<p class="tipssmall"> &nbsp;</p>
		<div style="height:47px;">
			<div style="float:left">
				<a class="iconmenu" href="/frontEndMyOrder"><i class="icon-order" style="color:#FFC125;"></i>我的订单</a>
			</div>
			<div style="float:right;color:#CDBA96;">
				<div style="float:right;"><i class="icon-right_arrow" style="font-size:16px;"></i></div>
				<div style="float:right;"><span id="myOrderNum"></span>&nbsp;&nbsp;</div>	
			</div>
		</div>
		<div style="height:47px;">
			<div style="float:left">
				<a class="iconmenu" href="/frontEndMyVipCard"><i class="icon-signature" style="color:#FF8C00;"></i>我的会员</a>
			</div>
			<div style="float:right;color:#CDBA96;">
				<div style="float:right;"><i class="icon-right_arrow" style="font-size:16px;"></i></div>
				<div style="float:right;"><span id="myVipCardNum"></span>&nbsp;&nbsp;</div>	
			</div>
		</div>
		<div style="height:47px;">
			<div style="float:left">
				<a class="iconmenu" href="/frontEndAddress"><i class="icon-address" style="color:#F08080;"></i>我的地址</a>
			</div>
			<div style="float:right;color:#CDBA96;">
				<div style="float:right;"><i class="icon-right_arrow" style="font-size:16px;"></i></div>
				<div style="float:right;"><span id="myAddressNum"></span>&nbsp;&nbsp;</div>	
			</div>
		</div>
		<p class="tipssmall"> &nbsp;</p>
		<div style="height:47px;">
			<div style="float:left">
				<a class="iconmenu" href="/frontEndMyDetail"><i class="icon-user" style="color:#32CD32;"></i>我的资料</a>
			</div>
			<div style="float:right;color:#CDBA96;">
				<div style="float:right;"><i class="icon-right_arrow" style="font-size:16px;"></i></div>
				<div style="float:right;"><span id="myDetailNum"></span>&nbsp;&nbsp;</div>	
			</div>
		</div>
		<p class="tipssmall"> &nbsp;</p>
		<div style="height:47px;">
			<div style="float:left">
				<a class="iconmenu" href="/frontEndMyQuestion"><i class="icon-suggestion"></i>问题反馈</a>
			</div>
			<div style="float:right;color:#CDBA96;">
				<div style="float:right;"><i class="icon-right_arrow" style="font-size:16px;"></i></div>
				<div style="float:right;"><span id="myQuestionNum"></span>&nbsp;&nbsp;</div>	
			</div>
		</div>
		<div style="height:47px;">
			<div style="float:left">
				<a class="iconmenu" href="/frontEndCustomerservice"><i class="icon-phone" style="color:#76EE00;"></i>客服中心</a>
			</div>
			<div style="float:right;color:#CDBA96;">
				<div style="float:right;"><i class="icon-right_arrow" style="font-size:16px;"></i></div>
				<div style="float:right;"><span id="customSum"></span>&nbsp;&nbsp;</div>	
			</div>
		</div>
		<!-- <div>
			<a class="iconmenu" href="password.html"><i class="icon-password" ></i>修改密码
			</a>
		</div> -->
	</div>
</section>
<footer>
	<div class="footheight"></div>
	<div class="row footbar">
		<a class="col-3 text-center" href="/frontEndIndex" ><span class="icon-home"></span>首页</a>
		<a class="col-3 text-center" href="/frontEndMsVideo" ><span class="icon-signature2"></span>视频专区</a>
		<a class="col-3 text-center" href="/frontEndCart" ><span class="icon-cart2"></span>购物车</a>
		<a class="col-3 text-center active" href="/frontEndMyIndex" ><span class="icon-user2"></span>我的</a>
	</div>
</footer>

<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/swipeSlide.min.js" type="text/javascript"></script>
<script src="js/sweetalert.min.js" type="text/javascript"></script>
<script src="js/jquery.mmenu.min.js" type="text/javascript"></script>
<script src="js/icheck.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script src="js/application.js" type="text/javascript"></script>
<script type="text/javascript">
var file = null;
$(function() {
    $('[type=file]').change(function(e) {
    	file = e.target.files[0];
      	preview2(file);// 方法2
    })
	shouTouxiang();
    $.ajax({
		type:'POST',
		url:"/frontEnd/frontEndGetMsOrderList?opendId="+localStorage.getItem("opendId"),
		contentType:'application/json',
		data:JSON.stringify({}),
		success:function(res){
			if(res.status == '01'){
				if(res.rows.length > 0){
					$("#myOrderNum").html(res.rows.length)
				}else{
					$("#myOrderNum").html(0)
				}
			}else{
				alert(res.message)
			}
		}
	})
	$("#myVipCardNum").html(1)
    $.ajax({
		type:'POST',
		url:"/frontEnd/frontEndGetMsOrderAddressList?opendId="+localStorage.getItem("opendId"),
		contentType:'application/json',
		data:JSON.stringify({}),
		success:function(res){
			if(res.status == '01'){
				if(res.rows.length > 0){
					$("#myAddressNum").html(res.rows.length)
				}else{
					$("#myAddressNum").html(0)
				}
			}else{
				alert(res.message)
			}
		}
	})
/*     $.ajax({
		type:'POST',
		url:"/frontEnd/frontEndGetMsUserList",
		contentType:'application/json',
		data:JSON.stringify({"isCustomer":"1"}),
		success:function(res){
			if(res.status == '01'){
				if(res.rows.length > 0){
					$("#customSum").html(res.rows.length)
				}else{
					$("#customSum").html(0)
				}
			}else{
				alert(res.message)
			}
		}
	})
    $.ajax({
		type:'POST',
		url:"/frontEnd/frontEndGetMsQuestionList?opendId="+localStorage.getItem("opendId"),
		contentType:'application/json',
		data:JSON.stringify({}),
		success:function(res){
			if(res.status == '01'){
				if(res.rows.length > 0){
					$("#myQuestionNum").html(res.rows.length)
				}else{
					$("#myQuestionNum").html(0)
				}
			}else{
				alert(res.message)
			}
		}
	})
 */})
function preview2(file) {
	var reader = new FileReader();
    reader.onload = function(e) {
    	$('#showImg').attr("src", e.target.result);
    	var data=JSON.stringify({
			"sysId":$("#sysId").val()
		})
      	var form = new FormData();
		form.append("picture", file);
		form.append("vo", data);
		//form.append("base64",e.target.result)
      	$.ajax({
    		type:'POST',
    		url:"/frontEnd/frontEndUpdateMsCustomBySysId?opendId="+localStorage.getItem("opendId"),
    		contentType:false,
			processData: false,
    		data:form,
    		success:function(res){
    			if(res.status == '01'){
    				shouTouxiang();
    			}else{
    				alert(res.message)
    				shouTouxiang();
    			}
    		}
    	})
    }
    reader.readAsDataURL(file);
}
function shouTouxiang(){
	$.ajax({
		type:'POST',
		url:"/frontEnd/frontEndGetMsCustomList?opendId="+localStorage.getItem("opendId"),
		contentType:'application/json',
		data:JSON.stringify({}),
		success:function(res){
			if(res.status == '01'){
				if(res.rows.length > 0){
					if(res.rows[0].picture != null && res.rows[0].picture != ""){
						$('#showImg').attr("src", res.rows[0].picture);
					}
					$('#sysId').val(res.rows[0].sysId);
				}
			}else{
				alert(res.message)
			}
		}
	})
}
</script>
</body>
</html>
