<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<link href="css/sweetalert.css" rel="stylesheet">
<link href="css/application.css" rel="stylesheet">
<title>我的订单</title>
</head>
<body>
	<header>
		<div class="headerbar">
			<h1>待收货</h1>
			<a class="navbar-toggle" onclick="javascript:history.go(-1)">
				<span class="icon-m_goback"></span>
			</a>
		</div>
	</header>

	<div id="showOrder"></div>
<footer>
	<div class="footheight"></div>
	<div class="row footbar">
		<a class="col-3 text-center" href="/frontEndIndex" ><span class="icon-home"></span>首页</a>
		<a class="col-3 text-center" href="/frontEndMsVideo" ><span class="icon-signature2"></span>视频专区</a>
		<a class="col-3 text-center" href="/frontEndCart" ><span class="icon-cart2"></span>购物车</a>
		<a class="col-3 text-center active" href="/frontEndMyIndex" ><span class="icon-user2"></span>我的</a>
	</div>
</footer>

<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/swipeSlide.min.js" type="text/javascript"></script>
<script src="js/sweetalert.min.js" type="text/javascript"></script>
<script src="js/jquery.mmenu.min.js" type="text/javascript"></script>
<script src="js/icheck.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.touchSwipe.min.js"></script>
<script src="js/application.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$("#showOrder").html("")
	loading()
})
function loading(){
	$.ajax({
		type:"post",
		url:"/frontEnd/frontEndGetMsOrderList?opendId="+localStorage.getItem("opendId"),
		contentType:'application/json',
		data:JSON.stringify({isDel:"0",isShouhuo:"0",status:"0"}),
		success:function(res){
			if(res.status=="01"){
				$("#showOrder").html("")
				if(res.rows.length > 0){
					for(var i=0;i<res.rows.length;i++){
						var payMoney=0;
						if(res.rows[i].payType == "0"){
							payMoney = res.rows[i].trueMoney;
						}else{
							payMoney = res.rows[i].payMoney;
						}
						if(res.rows[i].isFh == "1"){
							$("#showOrder").append(
								'<div class="describe cart">'+
								'<div class="shelves">'+
								'<div class="shop-title clearfix">'+
								'<span class="pull-left">'+res.rows[i].orderNo+'</span>'+
								'<span class="pull-right">'+res.rows[i].createTime+'</span>'+
								'</div>'+
								'<div class="media clearfix">'+
								'<div class="media-left">'+
								'<img src="'+res.rows[i].handPhoto+'" />'+
								'</div>'+
								'<div class="media-body media-order">'+
								'<p>订单编号：'+res.rows[i].orderNo+'</p>'+
								'<p>订单金额：￥'+payMoney+'</p>'+
								'<p>订单状态：<span class="red">'+returnStatus(res.rows[i].status,res.rows[i].isShouhuo,res.rows[i].isFh)+'</span></p>'+
								'<a class="fulldom cleararrow" href="/frontEndMyOrderDetail?sysId='+res.rows[i].sysId+'"></a></div>'+
								'</div></div>'+
								'<div class="clearfix">'+
								'<a class="pull-right btn btn-small" onclick="shouhuo(\''+res.rows[i].sysId+'\')"> 确认收货</a></div></div></div>'
							)
						}else{
							$("#showOrder").append(
								'<div class="describe cart">'+
								'<div class="shelves">'+
								'<div class="shop-title clearfix">'+
								'<span class="pull-left">'+res.rows[i].orderNo+'</span>'+
								'<span class="pull-right">'+res.rows[i].createTime+'</span>'+
								'</div>'+
								'<div class="media clearfix">'+
								'<div class="media-left">'+
								'<img src="'+res.rows[i].handPhoto+'" />'+
								'</div>'+
								'<div class="media-body media-order">'+
								'<p>订单编号：'+res.rows[i].orderNo+'</p>'+
								'<p>订单金额：￥'+payMoney+'</p>'+
								'<p>订单状态：<span class="red">'+returnStatus(res.rows[i].status,res.rows[i].isShouhuo,res.rows[i].isFh)+'</span></p>'+
								'<a class="fulldom cleararrow" href="/frontEndMyOrderDetail?sysId='+res.rows[i].sysId+'"></a></div>'+
								'</div></div></div>'
							)
						}
					}
				}else{
					$("#showOrder").html("<section class='waitingwrapper'><div class='text-center purple' style='font-size:5rem'><span class='icon-order'></span></div><p class='text-center' >暂无订单信息</p></section>")
				}
			}else{
				alert(res.message)
			}
		}
	})
}
function returnStatus(status,issh,isFh){
	if(status=='0'){
		if(issh == "1"){
			return '<span style="color:#00ff00">已收货</span>';
		}else{
			if(isFh == "0"){
				return '未发货';
			}
			return '配送中';
		}
	}
}
function shouhuo(id){
	swal({
		title: "确认收货",
		text: "是否确认收货？",
		confirmButtonText: "确定",
		cancelButtonText: "取消",
		showCancelButton: true,
	},function(){
		$.ajax({
			type:"post",
			url:"/frontEnd/frontEndUpdateMsOrderByIsShouhuo?opendId="+localStorage.getItem("opendId"),
			contentType:'application/json',
			data:JSON.stringify({sysId:id}),
			success:function(res){
				if(res.status="01"){
					loading()
				}
			}
		})
	})
}
</script>
</body>
</html>
