<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="user-scalable=no,width=device-width,initial-scale=1,maximum-scale=1">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<link href="css/sweetalert.css" rel="stylesheet">
<link href="css/application.css" rel="stylesheet">
<title>注册</title>
</head>
<body>
<header>
	<div class="headerbar">
		<h1>注册</h1>
		<a class="navbar-toggle" onclick="history.go(-1)">
			<span class="icon-m_goback"></span>
		</a>
	</div>
</header>
<section class="wrapper">
<form class="form-login clearfix">
	<div><br /></div>
	<div class="login">
		<div>
			<span class="icon-userlogin"></span>
			<input type="text" class="logininput" id="userName" placeholder="请输入手机号">
		</div>
		<!-- <div>
			<span class="icon-userlogin"></span>
			<input type="text" class="logininput" id="realName" placeholder="请输入真实姓名">
		</div> -->
		<div>
			<span class="icon-cellphone"></span>
			<input type="text" class="logininput" placeholder="请输入手机验证码">
			<a class="sendvercode">发送验证码</a>
		</div>
		<div>
			<span class="icon-passwordlogin"></span>
			<input type="text" class="logininput" id="passWord" placeholder="请输入密码">
		</div>
		<div>
			<span class="icon-passwordlogin"></span>
			<input type="text" class="logininput" id="confirmPass" placeholder="确认密码">
		</div>
	</div>
	<div class="checkarea">
		<div class="icheck"><input type="checkbox" name="iCheck" class="iradio" checked> &nbsp;同意<a>服务条款</a></div>
	</div>
	<div class="login-btn">
		<a class="btn btn-block" onclick="register()">注册</a>
	</div>
</form>
</section>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/swipeSlide.min.js" type="text/javascript"></script>
<script src="js/sweetalert.min.js" type="text/javascript"></script>
<script src="js/jquery.mmenu.min.js" type="text/javascript"></script>
<script src="js/icheck.min.js" type="text/javascript"></script>
<script src="js/jquery.touchSwipe.min.js"  type="text/javascript" ></script>
<script src="js/cityinit.js" type="text/javascript"></script>
<script src="js/application.js" type="text/javascript"></script>
<script>
$(function(){
	$('input:checkbox').iCheck({
		checkboxClass: 'iradio_square-purple',
		increaseArea: '50%' // optional
	});
})
function register(){
	$.ajax({
		type:"post",
		url:"/msCustom/saveMsCustom?opendId="+localStorage.getItem("opendId"),
		contentType:'application/json',
		data:JSON.stringify({"status":"0","userName":$("#userName").val(),"realName":$("#realName").val(),"passWord":$("#passWord").val()}),
		success:function(res){
			if(res.status=="01"){
				alert("注册成功！")
				window.location.href="/frontEndIndex"
			}else{
				alert(res.message)
			}
		}
	})
}
</script>

</body>
</html>
