<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetsun.meetsun.dao.AUserRoleDao">
	<insert id="saveAUserRole" parameterType="com.meetsun.meetsun.entity.AUserRole">
		insert into a_user_role(sys_id,user_id,role_id,create_time,update_time)
			values(#{sysId},#{userId},#{roleId},now(),now())
	</insert>
	<select id="getAUserRoleList" parameterType="com.meetsun.meetsun.entity.AUserRole" resultType="com.meetsun.meetsun.entity.AUserRole">
		select * from a_user_role where 1=1 
		<if test="userId != '' and userId != null">
			and user_id = #{userId}
		</if>
		<if test="roleId != '' and roleId != null">
			and role_id = #{roleId}
		</if>
		 order by create_time desc
	</select>
	<update id="updateAUserRole" parameterType="com.meetsun.meetsun.entity.AUserRole">
		update a_user_role set role_id = #{roleId},user_id = #{userId},update_time = now() where sys_id = #{sysId}
	</update>
	<delete id="deleteAUserRole" parameterType="com.meetsun.meetsun.entity.AUserRole">
		delete from a_user_role where sys_id = #{sysId}
	</delete>
</mapper>