<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetsun.meetsun.dao.MsOrderAddressDao">
	<insert id="saveMsOrderAddress" parameterType="com.meetsun.meetsun.entity.MsOrderAddress">
		insert into ms_order_address(sys_id,user_name,name,mobile,post_code,create_time,update_time,address,is_use,opend_id)
			values(#{sysId},#{userName},#{name},#{mobile},#{postCode},now(),now(),#{address},#{isUse},#{opendId})
	</insert>
	<select id="getMsOrderAddressList" parameterType="com.meetsun.meetsun.entity.MsOrderAddress" resultType="com.meetsun.meetsun.entity.MsOrderAddress">
		select * from ms_order_address where 1=1 
		<if test="opendId != '' and opendId != null">
			and opend_id = #{opendId}
		</if>
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if>
		<if test="isUse != '' and isUse != null">
			and is_use = #{isUse}
		</if>
		 order by create_time desc
		 <if test="offset != null">
			limit #{offset},#{pageNumber}
		</if>
	</select>
	<select id="getMsOrderAddressListTotal" parameterType="com.meetsun.meetsun.entity.MsOrderAddress" resultType="java.lang.Integer">
		select count(*) from ms_order_address where 1=1 
		<if test="opendId != '' and opendId != null">
			and opend_id = #{opendId}
		</if>
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if>
		<if test="isUse != '' and isUse != null">
			and is_use = #{isUse}
		</if>
	</select>
	<update id="updateMsOrderAddress" parameterType="com.meetsun.meetsun.entity.MsOrderAddress">
		update ms_order_address set name = #{name},mobile = #{mobile},post_code = #{postCode},address = #{address},update_time = now() where sys_id = #{sysId}
	</update>
	<update id="updateMsOrderAddressByIsUse" parameterType="com.meetsun.meetsun.entity.MsOrderAddress">
		update ms_order_address set is_use = #{isUse},update_time = now() where sys_id = #{sysId}
	</update>
	<update id="updateMsOrderAddressByOpendId" parameterType="com.meetsun.meetsun.entity.MsOrderAddress">
		update ms_order_address set is_use = #{isUse} where opend_id = #{opendId}
	</update>
	<delete id="deleteMsOrderAddress" parameterType="com.meetsun.meetsun.entity.MsOrderAddress">
		delete from ms_order_address where sys_id = #{sysId}
	</delete>
</mapper>