<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meetsun.meetsun.dao.OrderSpDao">
	<insert id="saveOrderSp" parameterType="com.meetsun.meetsun.entity.OrderSp">
		insert into order_sp(sys_id,order_id,sp_id,type,create_time,update_time)
			values(#{sysId},#{orderId},#{spId},#{type},now(),now())
	</insert>
	<select id="getOrderSpList" parameterType="com.meetsun.meetsun.entity.OrderSp" resultType="com.meetsun.meetsun.entity.OrderSp">
		select * from order_sp where 1=1
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if> 
		<if test="orderId != '' and orderId != null">
			and order_id = #{orderId}
		</if> 
		<if test="spId != '' and spId != null">
			and sp_id = #{spId}
		</if> 
		<if test="status != '' and status != null">
			and status = #{status}
		</if> 
		<if test="type != '' and type != null">
			and type = #{type}
		</if> 
		<if test="offset != null">
			limit #{offset},#{pageNumber}
		</if>
	</select>
	<select id="getOrderSpListTotal" parameterType="com.meetsun.meetsun.entity.OrderSp" resultType="java.lang.Integer">
		select count(*) from order_sp where 1=1
		<if test="sysId != '' and sysId != null">
			and sys_id = #{sysId}
		</if> 
		<if test="orderId != '' and orderId != null">
			and order_id = #{orderId}
		</if> 
		<if test="spId != '' and spId != null">
			and sp_id = #{spId}
		</if> 
		<if test="status != '' and status != null">
			and status = #{status}
		</if> 
		<if test="type != '' and type != null">
			and type = #{type}
		</if> 
	</select>
	<update id="updateOrderSp" parameterType="com.meetsun.meetsun.entity.OrderSp">
		update order_sp set 
		<if test="status != '' and status != null">
			status = #{status},
		</if>
		update_time = now() where sys_id = #{sysId}
	</update>
	<delete id="deleteOrderSp" parameterType="com.meetsun.meetsun.entity.OrderSp">
		delete from order_sp where sys_id = #{sysId}
	</delete>
</mapper>